= form_with(url: categories_searches_path, local: true, method: :get, class: "search-form") do |f|
  = f.text_field :keyword, placeholder: "カテゴリーを検索する", class: "search-input", id: "keyword"
  = f.submit "検索", class: "search-btn"

- @categories.each do |category|
  .content
  .content__left
    .content__leftimage
  .content__right
    .content__right__top
      = link_to category.name, category_path(category.id), class: "content__right__top--title"
    -# .content__right__bottom
    -#   .content__right__bottom--userName
    -#     = link_to category.user.nickname, "#", class: "content__right__bottom--userName--btn"

= paginate(@categories)