= form_with(url: category_menus_searches_path(@category.id), local: true, method: :get, class: "search-form") do |f|
  = f.text_field :keyword, placeholder: "メニューを検索する", class: "search-input", id: "keyword"
  = f.submit "検索", class: "search-btn"

- if user_signed_in?
  = link_to "新規メニュー", new_category_menu_path(@category.id)

- @menus.each do |menu|
  = render menu