.menuTitle
  = @menu.title
.menuData
  = @menu.created_at.strftime("%Y年%m月%d日 %H時%M分")
.menuAuthor
- if user_signed_in? && current_user.id == @menu.user_id
  .menuManage
    = link_to "編集", edit_category_menu_path(@menu.category_id, @menu.id), class: "menuManage__edit"
    = link_to "削除", category_menu_path(@menu.category_id, @menu.id), method: :delete, class: "menuManage__delete"
.menuText
  = image_tag "#{@menu.image}", class: :imop if @menu.image.length > 0
  = simple_format @menu.detail
